@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

div#container {
    header {
        width: 100%;
        height: 12.5vh;

        nav {
            div#chicago {
                font-size: 2em;
                float: left;
                margin-left: 1em;
                //using line height property Set the line height for different <div> elements
                line-height: 90px;
            }

            ul {
                float: right;
                margin-top: 1em;
                margin-right: 2em;

                li {
                    display: inline-block;
                    padding: 1em;
                    cursor: pointer;
                    transition: all 200ms linear;

                    a {
                        text-decoration: none;
                        color: black;
                        transition: all 100ms linear;
                        font-size: 1em;
                    }
                }

                li:hover {
                    background-color: #000000;

                    a {
                        //using css color rgb pr
                        color: rgb(255, 255, 255);
                    }
                }
            }

        }
    }
}

main {
    div#container2 {
        width: 100vw;
        height: 100vh;
        //using css-background
        background-image: url("../images/homepage.jpg");
        background-repeat: none;
        background-size: cover;
        position: relative;
        z-index: 1;

        h1 {
            font-size: 5em;
            text-transform: uppercase;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
        div.box {
            position: absolute;
            background-color: black;
            height: 100px;
            width: 500px;
            top: 50%;
            left: 50%;
            z-index: -1;
            //using css opacity/transparency
            opacity: 60%;
            transform: translate(-50%, -50%);
           
            
        }

        section.learnMore {
            button {
                position: absolute;
                background-color: #b8a33f;
                padding: 1em;
                outline: none;
                border: none;
                // margin-left: 650px;
                width: 15%;
                height: 6%;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                
                h2 {
                    color: white;
                    position: relative;
                    font-weight: 400;
                }
            }
        }


    }
}



div {
    footer {
        width: 100%;
        height: 12.5vh;
        div.copy {
            h3 {
                position: absolute;
                color: #b8a33f;
                font-weight: 400;
                left: 45%;
                top: 115%;
            }
            ul {
                position: absolute;
                display: flex;
                list-style-type: none;
                top: 114%;
                left: 80%;
                
                li {
                    width: 50px;
                    height: 50px;
                    //need a element to propery display items by using display block
                    a {
                        width: 50px;
                        height: 50px;
                        //block needed otherwise content will not show
                        display: block;
                        transition: all 200ms linear;
    
                    }
                    //image sprites example
                    //after each image you can position your image by using numbered px units to show a spacific image 
                    a#twitter {
                        background: url("../images/socials-color.png") 0px 0px;
                    }
                    a#facebook {
                        background: url("../images/socials-color.png")50px 0px;
                    }
                    a#instagram {
                        background: url("../images/socials-color.png")100px 0px;
                    }

                    //hover state

                    a#twitter:hover {
                        background: url("../images/socials-bw.png") 0px 0px;
                    }
                    a#facebook:hover {
                        background: url("../images/socials-bw.png")50px 0px;
                    }
                    a#instagram:hover {
                        background: url("../images/socials-bw.png")100px 0px;
                    }
                }
            }
        }
    }
}

//page 1 ends here///////////////////////////////////////

//page 2 starts here//////////////
div#container3 {
    width: 100vw;
    height: 150vh;
    // background-image: url("../images/chicago.jpg");
    // background-repeat: none;
    background-image: linear-gradient(white, grey, rgb(95, 108, 122), rgb(52, 64, 65));
    
    img {
        width: 1100px;
        height: 600px;
        margin-left:175px;
    }
    h1 {
        color: white;
        text-align: center;
        padding: 30px;

    }
    p {
        color: white;
        //used text indent 
        text-indent: 300px;
        font-weight: 200;
        //using word spacing to add spacing to sentence for better readability
        word-spacing: 2px;
    }
    p.click {
        position: absolute;
        text-indent:580px;
        
    }

    section {

        button {
                position: absolute;
                background-color: #b8a33f;
                padding: 1em;
                outline: none;
                border: none;
                width: 15%;
                height: 6%;
                top: 130%;
                left: 50%;
                transform: translate(-50%, -50%);

            h2 {
                color: white;
                position: relative;
                font-weight: 400;
            }
        }
    }
    
}

div {
    footer.footer2 {
        width: 100%;
        height: 12.5vh;
        div.copy2 {
            h3 {
                position: absolute;
                color: #b8a33f;
                font-weight: 400;
                left: 45%;
                top: 167%;
            }
            ul {
                position: absolute;
                display: flex;
                list-style-type: none;
                top: 167%;
                left: 80%;
                
                li {
                    width: 50px;
                    height: 50px;
                    //need a element to propery display items by using display block
                    a {
                        width: 50px;
                        height: 50px;
                        //block needed otherwise content will not show
                        display: block;
                        transition: all 200ms linear;
    
                    }
                    //image sprites example
                    //after each image you can position your image by using numbered px units to show a spacific image 
                    a#twitter {
                        background: url("../images/socials-color.png") 0px 0px;
                    }
                    a#facebook {
                        background: url("../images/socials-color.png")50px 0px;
                    }
                    a#instagram {
                        background: url("../images/socials-color.png")100px 0px;
                    }

                    //hover state

                    a#twitter:hover {
                        background: url("../images/socials-bw.png") 0px 0px;
                    }
                    a#facebook:hover {
                        background: url("../images/socials-bw.png")50px 0px;
                    }
                    a#instagram:hover {
                        background: url("../images/socials-bw.png")100px 0px;
                    }
                }
            }
        }
    }
}
