@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div#container header {
  width: 100%;
  height: 12.5vh;
}
div#container header nav div#chicago {
  font-size: 2em;
  float: left;
  margin-left: 1em;
  line-height: 90px;
}
div#container header nav ul {
  float: right;
  margin-top: 1em;
  margin-right: 2em;
}
div#container header nav ul li {
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  transition: all 200ms linear;
}
div#container header nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 100ms linear;
  font-size: 1em;
}
div#container header nav ul li:hover {
  background-color: #000000;
}
div#container header nav ul li:hover a {
  color: rgb(255, 255, 255);
}

main div#container2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/homepage.jpg");
  background-repeat: none;
  background-size: cover;
  position: relative;
  z-index: 1;
}
main div#container2 h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
main div#container2 div.box {
  position: absolute;
  background-color: black;
  height: 100px;
  width: 500px;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 60%;
  transform: translate(-50%, -50%);
}
main div#container2 section.learnMore button {
  position: absolute;
  background-color: #b8a33f;
  padding: 1em;
  outline: none;
  border: none;
  width: 15%;
  height: 6%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main div#container2 section.learnMore button h2 {
  color: white;
  position: relative;
  font-weight: 400;
}

div footer {
  width: 100%;
  height: 12.5vh;
}
div footer div.copy h3 {
  position: absolute;
  color: #b8a33f;
  font-weight: 400;
  left: 45%;
  top: 115%;
}
div footer div.copy ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  top: 114%;
  left: 80%;
}
div footer div.copy ul li {
  width: 50px;
  height: 50px;
}
div footer div.copy ul li a {
  width: 50px;
  height: 50px;
  display: block;
  transition: all 200ms linear;
}
div footer div.copy ul li a#twitter {
  background: url("../images/socials-color.png") 0px 0px;
}
div footer div.copy ul li a#facebook {
  background: url("../images/socials-color.png") 50px 0px;
}
div footer div.copy ul li a#instagram {
  background: url("../images/socials-color.png") 100px 0px;
}
div footer div.copy ul li a#twitter:hover {
  background: url("../images/socials-bw.png") 0px 0px;
}
div footer div.copy ul li a#facebook:hover {
  background: url("../images/socials-bw.png") 50px 0px;
}
div footer div.copy ul li a#instagram:hover {
  background: url("../images/socials-bw.png") 100px 0px;
}

div#container3 {
  width: 100vw;
  height: 150vh;
  background-image: linear-gradient(white, grey, rgb(95, 108, 122), rgb(52, 64, 65));
}
div#container3 img {
  width: 1100px;
  height: 600px;
  margin-left: 175px;
}
div#container3 h1 {
  color: white;
  text-align: center;
  padding: 30px;
}
div#container3 p {
  color: white;
  text-indent: 300px;
  font-weight: 200;
  word-spacing: 2px;
}
div#container3 p.click {
  position: absolute;
  text-indent: 580px;
}
div#container3 section button {
  position: absolute;
  background-color: #b8a33f;
  padding: 1em;
  outline: none;
  border: none;
  width: 15%;
  height: 6%;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div#container3 section button h2 {
  color: white;
  position: relative;
  font-weight: 400;
}

div footer.footer2 {
  width: 100%;
  height: 12.5vh;
}
div footer.footer2 div.copy2 h3 {
  position: absolute;
  color: #b8a33f;
  font-weight: 400;
  left: 45%;
  top: 167%;
}
div footer.footer2 div.copy2 ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  top: 167%;
  left: 80%;
}
div footer.footer2 div.copy2 ul li {
  width: 50px;
  height: 50px;
}
div footer.footer2 div.copy2 ul li a {
  width: 50px;
  height: 50px;
  display: block;
  transition: all 200ms linear;
}
div footer.footer2 div.copy2 ul li a#twitter {
  background: url("../images/socials-color.png") 0px 0px;
}
div footer.footer2 div.copy2 ul li a#facebook {
  background: url("../images/socials-color.png") 50px 0px;
}
div footer.footer2 div.copy2 ul li a#instagram {
  background: url("../images/socials-color.png") 100px 0px;
}
div footer.footer2 div.copy2 ul li a#twitter:hover {
  background: url("../images/socials-bw.png") 0px 0px;
}
div footer.footer2 div.copy2 ul li a#facebook:hover {
  background: url("../images/socials-bw.png") 50px 0px;
}
div footer.footer2 div.copy2 ul li a#instagram:hover {
  background: url("../images/socials-bw.png") 100px 0px;
}/*# sourceMappingURL=style.css.map */